{% extends 'layout.html' %}

{% block content %}

    <div class="container">
      <h1>¿Qué personaje de Game of Thrones eres?</h1>

      <form action="{{ url_for('bienvenida')}}" method = 'POST'>
        <div class="form-group">
        <br><br>
          <input name="nombre" type="text" class="form-control" id="inputname" placeholder="Ingresa tu nombre" required>
        </div>
        <br><br>
        <button name="login" value="login" type="submit" class="btn btn-primary">Iniciar el cuestionario</button>
      </form>
    </div>

{% endblock %}


